--Don't touch the code
--Made by Kiriakos7777#0200
local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
local Window = Library.CreateLib("Blox Fruits Scripts", "Ocean")
    --Updates
    local Updates = Window:NewTab("Updates")
    local UpdatesSection = Tab:NewSection("Updates")

    UpdatesSection:NewLabel("Removed ????? Tab")
    -- MAIN
    local Main = Window:NewTab("Main")
    local MainSection = Main:NewSection("Main")

MainSection:NewButton("HoHo Hub", "Executes HoHo Hub", function()
    loadstring(game:HttpGet('https://raw.githubusercontent.com/acsu123/HOHO_H/main/Loading_UI'))()
end)

MainSection:NewButton("ATR Hub", "Executes ATR Hub", function()
    loadstring(game:HttpGet("https://raw.githubusercontent.com/scriptpastebin/raw/main/ATR",true))()
end)
--Player
local Player = Window:NewTab("Misc")
local PlayerSection = Player:NewSection("Player")

PlayerSection:NewSlider("Walkspeed", "Speed", 500, 16, function(s)
    game.Players.LocalPlayer.Character.Humanoid.WalkSpeed = s
end)

PlayerSection:NewSlider("Jumppower", "JumpPower", 350, 50, function(s)
    game.Players.LocalPlayer.Character.Humanoid.JumpPower = s
end)
--Credits
local Credits = Window:NewTab("Credits")
local CreditsSection = Credits:NewSection("Credits")

CreditsSection:NewLabel("This made by kiriakos7777#0200")
CreditsSection:NewLabel("Script Update Always")

